h1 {
    font-size: 100px;
    margin-bottom: 0;
}

h6 {
    color: #1c352a;
    text-align: left;
}

.coming-soon {
    text-align: center;
    max-width: 360px;
    margin: auto;
    padding-top: 150px;
}

.coming-soon img {
    width: 200px;
    margin-bottom: 0;
}